{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Admin Dashboard{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- AdminLTE CSS -->
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.css' %}">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    {% block extra_css %}
    {% endblock %}
</head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">

<div class="app-wrapper">

    <!-- Navbar -->
    <nav class="app-header navbar navbar-expand bg-body">
        <div class="container-fluid">
            {% include "includes/navbar.html" %}
        </div>
    </nav>

    <!-- Sidebar -->
    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        {% include "includes/sidebar.html" %}
    </aside>

    <!-- Main Content -->
    <main class="app-main">

        <!-- Page Header -->
        <div class="app-content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0">
                            {% block page_title %}
                          
                            {% endblock %}
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="app-content">
            <div class="container-fluid py-4">

                {% block content %}
                {% endblock %}

            </div>
        </div>

    </main>

    <!-- Footer -->
    <footer class="app-footer">
        <div class="float-end d-none d-sm-inline">
            Anything you want
        </div>

        <strong>
            © 2026 Wempro Limited
        </strong>
    </footer>

</div>

<!-- Bootstrap Bundle JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

<!-- AdminLTE JS -->
<script src="{% static 'adminlte/dist/js/adminlte.js' %}"></script>

{% block extra_js %}
{% endblock %}

</body>
</html>