{% load static %}

<div class="sidebar-brand">
  <a href="{% url 'dashboard' %}" class="brand-link">
    <img
      src="{% static 'adminlte/src/assets/img/logo.jpeg' %}"
      alt="Logo"
      class="brand-image opacity-75 shadow"
    />
    <span class="brand-text fw-light">Element Search</span>
  </a>
</div>

<div class="sidebar-wrapper">
  <nav class="mt-2">
    <ul class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        data-accordion="false">

      <!-- Product Series -->
      <li class="nav-item">
        <a href="{% url 'detailsInfo' %}" class="nav-link">
          <i class="nav-icon bi bi-tree-fill"></i>
          <p>
            Add Series  
            <i class="nav-arrow bi bi-chevron-right"></i>
          </p>
        </a>
        {% comment %} {% url 'series_list' %} {% endcomment %}
        {% comment %} <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'detailsInfo' %}" class="nav-link">
              <i class="nav-icon bi bi-circle"></i>
              <p>All Series</p>
            </a>
          </li>
        </ul> {% endcomment %}
      </li>

      <!-- Products -->
      <li class="nav-item">
        <a href="{% url 'addModelDescription' %}" class="nav-link">
          <i class="nav-icon bi bi-table"></i>
          <p>
            Model Description Chart
            <i class="nav-arrow bi bi-chevron-right"></i>
          </p>
        </a>
        
      </li>




      <!-- Brand List -->
      <li class="nav-item">
        <a href="{% url 'commonParts' %}" class="nav-link">
          <i class="nav-icon bi bi-pencil-square"></i>
          <p>
            Common Parts 
            <i class="nav-arrow bi bi-chevron-right"></i>
          </p>
        </a>
        {% comment %} <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-circle"></i>
              <p>All Brands</p>
            </a>
          </li>
        </ul> {% endcomment %}
      </li>

      <!-- Products -->
      <li class="nav-item">
        <a href="{% url 'seatOptions' %}" class="nav-link">
          <i class="nav-icon bi bi-table"></i>
          <p>
            Seat Options 
            <i class="nav-arrow bi bi-chevron-right"></i>
          </p>
        </a>
        {% comment %} <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-circle"></i>
              <p>All Products</p>
            </a>
          </li>
        </ul> {% endcomment %}
      </li>

      <li class="nav-item">
        <a href="{% url 'ballOptions' %}" class="nav-link">
          <i class="nav-icon bi bi-table"></i>
          <p>
            Ball Options
            <i class="nav-arrow bi bi-chevron-right"></i>
          </p>
        </a>
        
      </li>
      

      <li class="nav-item">
        <a href="{% url 'airSections' %}" class="nav-link">
          <i class="nav-icon bi bi-table"></i>
          <p>
            Air Motor Sections 
            <i class="nav-arrow bi bi-chevron-right"></i>
          </p>
        </a>
        
      </li>

      

    </ul>
  </nav>
</div>